body  {

/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E1YTVhNSIgc3RvcC1vcGFjaXR5PSIwLjU1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2E1YTVhNSIgc3RvcC1vcGFjaXR5PSIwLjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(left,  rgba(165,165,165,0.55) 0%, rgba(165,165,165,0.1) 50%, rgba(0,0,0,0.1) 100%); /* FF3.6-15 */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(165,165,165,0.55)), color-stop(50%,rgba(165,165,165,0.1)), color-stop(100%,rgba(0,0,0,0.1))); /* Chrome4-9,Safari4-5 */
background: -webkit-linear-gradient(left,  rgba(165,165,165,0.55) 0%,rgba(165,165,165,0.1) 50%,rgba(0,0,0,0.1) 100%); /* Chrome10-25,Safari5.1-6 */
background: -o-linear-gradient(left,  rgba(165,165,165,0.55) 0%,rgba(165,165,165,0.1) 50%,rgba(0,0,0,0.1) 100%); /* Opera 11.10-11.50 */
background: -ms-linear-gradient(left,  rgba(165,165,165,0.55) 0%,rgba(165,165,165,0.1) 50%,rgba(0,0,0,0.1) 100%); /* IE10 preview */
background: linear-gradient(to right,  rgba(165,165,165,0.55) 0%,rgba(165,165,165,0.1) 50%,rgba(0,0,0,0.1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ca5a5a5', endColorstr='#1a000000',GradientType=1 ); /* IE6-8 */

}

.container	{

margin-top: 50px;

}

footer	{

background-color: #1e616c;
height:250px;

}

hr  {

	border-top: 1px solid #939393;

}

address   {

color: #267a88;
font-family: 'Arial', Regular;

}

li	{

	color: #267a88;
	font-family: 'Arial', Regular;
	font-size: 11px;

}

ul li	{

	     line-height: 1.5em;
	     height: auto;

}

.col-sm-9 {

font-family: 'Lora', serif;
font-size: 50px;
color:#267a88;

}

#dropNav {

border-style: groove;
border-width: 2px;

}

.col-md-3 {

z-index: 10;


}

.col-lg-4 {

z-index: 10;


}

.vertical-line {

   position:absolute;
   height: 800px;
   border-right: 1px solid #939393;
   width: 6px;
   margin-left:45px;
   z-index: 15;
}

.titleaddress {

color: #e31b5a;

}

a.dropdown-toggle	{

	/*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkOGQ4ZDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);*/
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(216,216,216,1))); /* Chrome4-9,Safari4-5 */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(216,216,216,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(216,216,216,1) 100%); /* Opera 11.10-11.50 */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 20px;

}

html:not([lang*=“”]) a.dropdown-toggle	{

color: white;

}


 /**//*/a.dropdown-toggle {

	color: white;

 }/* */ /* seulement IE8 & IE9 */



.colorNav {

color: #7cd7e6;
font-size: 11px;
font-family: 'Arial', Regular;

}

.navbar-custom {
  background-color: #2a7e8c;
  border-color: #226773;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#36a1b3), to(#2a7e8c));
  background-image: -webkit-linear-gradient(top, #36a1b3, 0%, #2a7e8c, 100%);
  background-image: -moz-linear-gradient(top, #36a1b3 0%, #2a7e8c 100%);
  background-image: linear-gradient(to bottom, #36a1b3 0%, #2a7e8c 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff36a1b3', endColorstr='#ff2a7e8c', GradientType=0);
}
.navbar-custom .navbar-brand {
  color: #ffffff;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #e6e6e6;
  background-color: transparent;
}

.navbar-custom .navbar-nav > li:last-child > a {
  border-right: 1px solid #226773;
}


.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #c0c0c0;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #c0c0c0;
  background-color: #226773;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#226773), to(#2e8a9a));
  background-image: -webkit-linear-gradient(top, #226773, 0%, #2e8a9a, 100%);
  background-image: -moz-linear-gradient(top, #226773 0%, #2e8a9a 100%);
  background-image: linear-gradient(to bottom, #226773 0%, #2e8a9a 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff226773', endColorstr='#ff2e8a9a', GradientType=0);
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #226571;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #226773;
  color: #c0c0c0;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #c0c0c0;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #c0c0c0;
    background-color: #226773;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}

.dropdown-toggle : hover, .dropdown-toggle : active   {

color:white;

}



.titlecompagny  {

color: #e31b5a;

}

.titletext  {

color: #267a88;

}

h2  {

font-family: 'Open Sans', sans-serif;
font-style: italic;
font-weight: lighter;
color: #797979;

}

h1  {

font-family: 'Arial', regular;
color: #e31b5a;
font-weight: bold;

}

h3	{

	/*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I3YjdiNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);*/
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(183,183,183,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome4-9,Safari4-5 */
	background: -webkit-linear-gradient(top,  rgba(183,183,183,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: -o-linear-gradient(top,  rgba(183,183,183,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10-11.50 */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: bold;

}

html:not([lang*=“”]) h3	{

color: white;

} /*Seulement pour Firefox

/**//*/h3 {

 color: white;

}/* */ /* seulement IE8 & IE9 */

h4  {

font-family: 'Arial', regular;
color: #e31b5a;

}

.author {

  font-size: 11px;
  font-family: 'Arial', Regular;
  color: #797979;

}

.authortitle  {

color: #267a88;

}

.glyphicon-bullhorn, .glyphicon-print, .glyphicon-envelope  {

color: #e31b5a;

}

.glyphicon-tag	{

color: #267a88;

}

#comments {

color: #e31b5a;

}

#print {

left:15px;

}

#send {

left:15px;

}


.textbuttonCom, .textbuttonPrint, .textbuttonSend {

  color: #267a88;
  font-size: 11px;
  font-family: 'Arial', Regular;

}

.textbuttonPrint, .textbuttonSend {

margin-left:20px;

}

.extranet {

  font-size: 11px;
  font-family: 'Arial', Regular;
  color: #267a88;
  margin-left: 5px;

}


.inputTwo, .login {

margin-top:10px;

}

.login  {

background-color: #267a88;
color: white;

}

.image-team	{

background-image: url('img/team.jpg');
width:182px;
height:182px;

}

.textFooter	{

color:white;
font-size: 11px;
font-family: 'Arial', Regular;


}

#footersymb	{

margin-left:10px;
color: #e31b5a;

}

.twitter	{

background-image: url('img/twitter.png');
width:60px;
height:60px;
margin-left:100px;
}

.dashed	{

border: none;
border-top: 1px dashed;
color: #267a88;
margin-top: 10px;
margin-bottom: 10px;

}

.glyphicon-play	{

color: #267a88;

}

.dropdown-menu	{

	height: auto;
	border-left: 4px solid #e31b5a;
	z-index: 15;
	color: #267a88;

}



.dropdown-menu>li>a	{

color:#267a88;

}

.space	{

margin-top:10px;

}

.space-footer	{

margin-left: 100px;

}
